/*.no-close .ui-dialog-titlebar-close {display: none }*/

#call-according .ui-icon { display: none; }
#call-according .ui-accordion-header { padding: 2px 2px 2px 5px; }
#customer-according .ui-icon { display: none; }
#customer-according .ui-accordion-header { padding: 2px 2px 2px 5px; }
#order-according .ui-icon { display: none; }
#order-according .ui-accordion-header { padding: 2px 2px 2px 5px; }

#call-according .ui-accordion-content { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }
#customer-according .ui-accordion-content { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }
#order-according .ui-accordion-content { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }


.ui-tabs .ui-tabs-nav li {
	height: 22px; 
	font-size:10px !important;

}

.td-title {
	font-weight:bold;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:100%;
	white-space:nowrap;
	vertical-align: baseline;
}

.td-content {
	font-family:Arial,Verdana,Sans-serif;
	font-size:80%;
	vertical-align: baseline;
}

.space-nowrap {
	white-space:nowrap;
}

.input-margin {
	margin: 2px 2px 2px 2px;
}

td input[type="text"] {
	width:100%; 
}

textarea {
	width:100%; 
	overflow: hidden; 
	word-wrap: break-word; 
	resize: horizontal;
	vertical-align: top;
}

#call-nature-checkboxes {
	width: 100%;
}

#call-nature-checkboxes tr td {
	margin-right: 50px;
	white-space: nowrap;
}

.textarea-autosize-animation {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}


#call-his-grid,
#find-customer-result-grid {
	color: #e78f08;
	width:100%;
  	border-collapse:collapse; 	
}

#call-his-grid td,
#find-customer-result-grid td {
	border:1px solid #1c94c4;
	color: #000000;
	font-family:Arial,Verdana,Sans-serif;
	font-size:80%;
}

#call-his-grid th,
#find-customer-result-grid th {
	border:1px solid #1c94c4;
	font-family:"Times New Roman",Georgia,Serif;
	font-weight: bold;
	font-size:100%;
	white-space:nowrap;
}

.ui-tabs .ui-tabs-nav li {
    height:15px;
    font-size:12px;
}

.ui-tabs .ui-tabs-nav li a {
    position:relative;
    top:-5px  
}

